@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
}

.custom-gradient {
  background: linear-gradient(to bottom, rgba(5, 12, 54, 1) 60%, rgba(5, 12, 54, 0.7) 100%);
}
